<mat-toolbar>
    {{selectRouteMessage}}</mat-toolbar>
<router-outlet></router-outlet>
<br>
<mat-card class="example-card">
    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="filter($event.target.value)" placeholder="Buscar Menu">
        </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="idMenu">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.idMenu}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nombre}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="icono">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ICONO </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.icono}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="img">
            <mat-header-cell *matHeaderCellDef mat-sort-header> IMG </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-icon>{{row.icono}}</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="url">
            <mat-header-cell *matHeaderCellDef mat-sort-header> URL </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.url}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones" *ngIf="!this.isMenuAsignar">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" [routerLink]="['edicion', row.idMenu]">
          <mat-icon>ballot</mat-icon>
        </button>
                <button mat-icon-button color="accent" (click)="eliminar(row.idMenu)">
          <mat-icon>delete</mat-icon>
        </button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="asignar" *ngIf="this.isMenuAsignar">
            <mat-header-cell *matHeaderCellDef>Asignar Roles</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" (click)="openDialog(row)">
          <mat-icon>playlist_add</mat-icon>
        </button>
            </mat-cell>
        </ng-container>




        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <button *ngIf="!this.isMenuAsignar" mat-fab color="accent" style="float: right" routerLink='/menu/nuevo/'>
    <mat-icon>create</mat-icon>
  </button>

</mat-card>