<mat-toolbar>
    {{selectRouteMessage}}</mat-toolbar>
<router-outlet></router-outlet>
<br>
<mat-card class="example-card">
    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="filter($event.target.value)" placeholder="Buscar usuario">
        </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="idUsuario">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.idUsuario}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nombre}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.estado}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="asignar">
            <mat-header-cell *matHeaderCellDef>Asignar Roles</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" (click)="openDialog(row)">
          <mat-icon>person_add_disabled</mat-icon>
        </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</mat-card>