<mat-form-field>
    <input matInput placeholder="DNI" [(ngModel)]="cliente.dni">
</mat-form-field>

<mat-form-field>
    <input matInput placeholder="Nombres" [(ngModel)]="cliente.nombres">
</mat-form-field>

<mat-form-field>
    <input matInput placeholder="Apellidos" [(ngModel)]="cliente.apellidos" type="tel">
</mat-form-field>

<mat-form-field>
    <input matInput placeholder="Fecha Nacimiento" [(ngModel)]="cliente.fechaNac" type="tel">
</mat-form-field>

<button mat-button onclick="document.getElementById('flArchivo').click();">Seleccionar Archvo</button>
<input id="flArchivo" type="file" (change)="seleccionarArchivo($event)" style="display: none">

<img mat-card-image [src]="imagenData" *ngIf="imagenEstado" width="50%" height="50%" />
<p>{{labelFile}}</p>

<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>