<!--<div class="example-container mat-elevation-z8">-->
<mat-toolbar>Usuario seleccionado: {{usuarioSelect.nombre}}</mat-toolbar>
<br>
<mat-card class="example-card">
    <mat-card-subtitle>Lista de Roles Disponibles</mat-card-subtitle>
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <div [hidden]="true">
            <ng-container matColumnDef="idRol">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.idRol}} </mat-cell>
            </ng-container>
        </div>
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ROL </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nombre}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.descripcion}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <button mat-raised-button color="primary" (click)="addSelectRolToUser()">
           Cargar
          </button>

</mat-card>
<br>
<mat-card>
    <mat-card-subtitle>Roles cargados al usuario: {{usuarioSelect.nombre}}</mat-card-subtitle>
    <mat-chip-list>
        <div class="chips">
            <mat-chip *ngFor="let item of rolsSelect" color="accent" selected [selectable]="selectable" [removable]="removable" (removed)="remove(item)">{{item.nombre}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
        </div>
    </mat-chip-list>
    <button class="button" mat-raised-button color="primary" (click)="saveUsuarioAsignRol()">
            Agregar Al usuario
           </button>
    <button class="button" mat-raised-button color="accent" (click)="cancelar()">
            Cancelar
           </button>
</mat-card>