<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{username}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="imagenData" *ngIf="imagenEstado" width="50%" height="50%" />
    <mat-card-content>
        <mat-card-subtitle>Roles:</mat-card-subtitle>
        <mat-chip-list>
            <div class="chips">
                <mat-chip *ngFor="let item of roles" color="accent" selected>{{item}}
                </mat-chip>
            </div>
        </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" (click)="cancelar()">Aceptar</button>
    </mat-card-actions>
</mat-card>